<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
    <link rel="stylesheet" media="screen" href="/css/utils.css">
    <link rel="stylesheet" media="screen" href="/css/index.css">
    <link rel="stylesheet" media="screen" href="/css/error.css">
    <link rel="icon" href="resources/images/logo_64.png">
    <title>Página no encontrada | 404AW</title>
</head>
<body>
    <div class="content-body">
        <div class="error">
            <img src="/resources/images/error_256.png" alt="error_image">
            <p class="error-message">¡Vaya! No se cómo has acabado aquí pero parece ser que la página que estabas buscando no existe...</p>
            <a class="btn btn-primary btn-xl btn-home" href="/index">Volver <i class="fa fa-home"></i></a>
        </div>
    </div>
    
</body>
</html>