
body{
    font-family: 'Poppins', sans-serif;
    background-color: #292828;
    font-size: 14px;
    color: #fff;
}

header #header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header #header .logo{
    width: 150px;
}

.registro{
    padding-top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registro .btns-form_login{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.registro .btns-form_login button{
    margin: 2px;
}