/* Para las paginas de errror (404 y 500) */

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.error .error-message{
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}